<% if @decks.count == 0 %>
  <p>There doesn't seem to be anything here - would you like to <%=link_to "add a new deck", new_user_deck_path(user_id: current_user.id) %>?</p>
<% else %>
  <% @decks.each do |deck| %>
    <div>
      <%= deck.name %><br>
      <%= deck.subject.name %><br>
        <% if deck.cards.count == 0 %>
        <p>This deck appears to be empty - <%= link_to "add some cards", new_user_deck_card_path(user_id: current_user.id, deck_id: deck.id) %>
      <% else %>
        <a href="#" class="js-more" user-id="<%=@user.id %>" deck-id="<%=deck.id%>">Quick view this deck</a><br>
        <div class="deck-contents"></div>
        <%= link_to "Study this deck", user_deck_card_path(user_id: current_user.id, deck_id: deck.id, id: deck.cards.first.id) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.js-more').on("click", function(e) {
      e.preventDefault();
      var userId = $('.js-more').attr('user-id')
      var deckId = $('.js-more').attr('deck-id')
      var url = `/users/${userId}/decks/${deckId}`
     $.ajax({
      method: 'GET',
       url: url + '.json'
     }).done(function(data) {
      console.log(data)
      for (var i=0; i<49; i++) {
        $('.deck-contents').append(data['cards'][i]['question'])
        $('.deck-contents').append(data['cards'][i]['answer'])
      }
     })
    })
   // debugger; 
  })
</script>