<% if @decks.count == 0 %>
  <p>There doesn't seem to be anything here - would you like to <%=link_to "add a new deck", new_user_deck_path(user_id: current_user.id) %>?</p>
<% else %>
  <% @decks.each do |deck| %>
    <div>
      <%= deck.name %><br>
      <%= deck.subject.name %><br>
        <% if deck.cards.count == 0 %>
        <p>This deck appears to be empty - <%= link_to "add some cards", new_user_deck_card_path(user_id: current_user.id, deck_id: deck.id) %>
      <% else %>
        <button id="myBtn" class="js-more" user-id="<%=@user.id %>" deck-id="<%=deck.id%>">Quick view this deck</button><br>
        <div class="deck-contents"></div>
        <%= link_to "Study this deck", user_deck_card_path(user_id: current_user.id, deck_id: deck.id, id: deck.cards.first.id) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div id="modal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <p>insert cards here</p>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    var modal = document.getElementById('modal')

    //opens the modal on button click
    $('.js-more').on("click", function(e) {
      var loaded = false;
      var userId = $('.js-more').attr('user-id')
      var deckId = $('.js-more').attr('deck-id')
      var url = `/users/${userId}/decks/${deckId}`
      // console.log(modal)
        if (loaded) {
          modal.style.display = "block";
        } else {
          $.ajax({
          method: 'GET',
          url: url + '.json'
          }).done(function(data) {
            $('p').text("");
            for (var i = 0, l = data['cards'].length; i < l; i++) {
              $('p').append(data['cards'][i]['question']).append(" ")
              $('p').append(data['cards'][i]['answer']).append('<br />')
            }
            loaded = true; 
            modal.style.display = "block";
          }) 
        }
      })

    //when the user clicks on <span> (x) close the modal
    $('.close').on("click", function() {
      modal.style.display = "none";
    })

    //when user clicks outside of modal, close it
    $(document).on("click", function(e) {
      if (e.target == modal) {
        modal.style.display = "none";
      }
    })
  })

</script>