<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li><%=link_to "Home", root_path%></li>
      <li><%=link_to "Add a deck", new_user_deck_path(user_id: current_user.id) %></li>
      <li><%=link_to "Review a deck", user_decks_path(user_id: current_user.id) %></li> 
      <li><%=link_to "Leaderboard", academic_leaderboard_path %></li>    
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
