<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
</head>
<body>

<% if user_signed_in? %>
<nav class="clearfix white bg-black">
  <div class="sm-col">
    <class="btn py2"><%=link_to "Home", root_path%>
    <class="btn py2"><%=link_to "Add a deck", new_user_deck_path(user_id: current_user.id)%>
    <class="btn py2"><%=link_to "Review a deck", user_decks_path(user_id: current_user.id)%>
  </div>
  <div class="sm-col-right">
    <class="btn py2"><%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
</nav>
<% end %>


<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
